@charset "utf-8";

body {
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: Meiryo;
    color: #444
}

h2 {
    margin: 0 0 12px 0;
    font-size: 18px
}

textarea {
    word-break: break-all;
    border: solid 1px black;
    border-radius: 10px / 10px;
    padding: 4px
}

label,input[type=radio],input[type=checkbox] {
    cursor: pointer
}

label:hover,input[type=radio]:hover,input[type=checkbox]:hover {
    background-color: #EEEEFF
}

#section_group {
    width: 656px;
    overflow: hidden;
    border: none;
    position: relative
}

#section_group_inner {
    width: 10000px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0
}

#section_group .section_panel {
    float: left;
    width: 640px;
    padding: 8px
}

.section_move_buttons {
    margin-top: 16px;
    overflow: hidden
}

.section_move_buttons .go_prev {
    float: left
}

.section_move_buttons .go_next {
    float: right
}

.section_move_buttons .largebutton {
    float: inherit;
    font-size: 16px;
    border: solid 1px #EEEEFF;
    margin-bottom: 8px;
    padding-left: 4px
}

.go_prev {
    cursor: pointer
}

.go_prev:hover {
    background-color: #EEEEFF
}

.go_next {
    cursor: pointer
}

.go_next:hover {
    background-color: #EEEEFF
}

.function_buttons {
    margin-top: 16px
}

#section_group .section_panel#section1 {
}

#section_group .section_panel#section2 {
}

#section_group .section_panel#section3 {
}

#section_group .section_panel#section4 {
}

#section_group .section_panel#section4 .tab_group {
    position: relative;
    z-index: 1001
}

#section_group .section_panel#section4 .tab_group .tab_group_sub {
    width: 640px;
    overflow: hidden;
    border-bottom: solid 1px black
}

#section_group .section_panel#section4 .tab_group .tab_group_sub:last-child {
    border-bottom: none
}

#section_group .section_panel#section4 .tab_group .tab_group_sub a.tab {
    float: left;
    min-width: 60px;
    height: 20px;
    border: solid 1px black;
    border-bottom: none;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    text-align: center;
    text-decoration: none;
    margin: 2px 0 0 0;
    padding: 2px 6px 0 6px;
    background-color: #CCC
}

#section_group .section_panel#section4 .tab_group .tab_group_sub:last-child a.tab {
    border-bottom: solid 1px black
}

#section_group .section_panel#section4 .tab_group .tab_group_sub a.tab.active {
    background-color: white;
    border-bottom: solid 1px white
}

#section_group .section_panel#section4 .client_group {
    position: relative;
    z-index: 1000
}

#section_group .section_panel#section4 .client_group .client {
    background-color: white;
    border: solid 1px black;
    border-radius: 0 0 10px 10px / 0 0 10px 10px;
    width: 620px;
    height: 380px;
    margin-top: -1px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll
}

#section_group .section_panel#section4 .client_group .client label.default_ability {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px
}

#section_group .section_panel#section4 .client_group .client div.client_skill {
    overflow: hidden;
    width: 50%;
    height: 22.5px;
    border-top: solid 1px #CCC;
    padding: 2px 0
}

#section_group .section_panel#section4 .client_group .client div.client_skill:nth-child(2n) {
    float: left
}

#section_group .section_panel#section4 .client_group .client div.client_skill:nth-child(2n+1) {
    float: right
}

#section_group .section_panel#section4 .client_group .client .client_skill span.name {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 22px
}

#section_group .section_panel#section4 .client_group .client .client_skill select[name=rank] {
    vertical-align: middle;
    width: 90px;
    height: 22px
}

#section_group .section_panel#section5 {
}

#section_group .section_panel#section5 textarea#st_div_code {
    width: 628px;
    height: 120px
}

#section_group .section_panel#section6 {
}

#section_group .section_panel#section7 {
}

#section_group .section_panel#section8 {
}

#section_group .section_panel#section8 textarea#st_div_code_input {
    width: 628px;
    height: 120px
}

#section_group .section_panel#section9 {
}

#section_group .section_panel#section9 textarea#st_div_code_s_update {
    width: 628px;
    height: 120px
}

#section_group .section_panel#section10 {
}

#section_group .section_panel#section11 {
}

#section_group .section_panel#section11 textarea#st_div_code_s_regist {
    width: 628px;
    height: 120px
}
