@charset "utf-8";

#st_link{
	width : 162px;
	height : 12px;
	margin : 1px 0px;
	padding : 0px;
	border-style : none;
	background-color : black;
	font-family : "ＭＳ Ｐゴシック", sas-serif;
	color : white;
	font-size : 10px;
	text-align : right;
	letter-spacing : 0px;
	line-height : 12px;
}
#st_link a{
	color : white;
}

.st_div{
	width : 160px;
	height : 240px;
	margin : 0px;
	padding : 0px;
	border : solid 1px #b55376;
	background-color : #bf7f97;
	letter-spacing : 0px;
	font-family : "ＭＳ Ｐゴシック", sas-serif;
	color : white;
	font-size : 10px;
	text-align : center;
}

.st_div .st_title{
	display : block;
	margin : 0px 0px 2px 0px;
	padding : 4px;
	border-bottom : solid 2px #b55376;
	font-size : 12px;
	line-height : 12px;
	text-align : left;
}

.st_div .st_select{
	display : inline-block;
	width : 156px;
	height : 18px;
	margin : 0px 0px 2px 0px;
	padding : 0px;
	border : solid 1px #b04a6f;
	background : transparent;
	background-color : #b55376;
	color : white;
	font-size : 12px;
}

.st_select .st_option{
	color : white;
	background-color : #b55376;
}

.st_div .st_body{
	display : inline-block;
	width : 154px;
	height : 191px;
	margin : 0px;
	padding : 0px;
	border : solid 1px #b55376;
	text-align : left;
	white-space : nowrap;
	font-family : "ＭＳ Ｐゴシック", sas-serif;
	color : white;
	font-size : 10px;
	overflow-x : hidden;
	overflow-y : scroll;
	scrollbar-base-color : #bf7f97;
	scrollbar-arrow-color : #b55376;
}

.st_div table{
	border-style : none;
	border-collapse: collapse;
	margin : 2px;
}
.st_div td{
	letter-spacing : 0px;
	border-style : none;
	margin : 0px;
	padding : 0px;
	font-family : "ＭＳ Ｐゴシック", sas-serif;
	color : white;
	font-size : 11px;
	line-height : 11px;
	text-align : left;
	height : 15px;	
}
